.customer-list {
  position: relative;
  display: flex;
  &__container {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
  }
  &__header {
    display: flex;
    align-items: flex-end;
  }
  &__subheader {
    margin-right: 40px;
    font-size: 30px;
    h2 {
      display: inline-block;
      margin-bottom: 0px;
    }
  }

  &__create-btn {
    padding: 5px 10px;
    padding-bottom: 8px;
    border: 1px solid #97979760;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
      border: 1px solid #2d2d2d60;
      background-color: rgba(78, 78, 78, 0.168);
    }
  }
  &__modal {
    position: absolute;
    width: 300px;
    height: 440px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: azure;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    &__input {
      margin-top: 20px;
      input {
        height: 30px;
        margin-top: 10px;
      }
    }
    &__btns {
      margin-top: 60px;
      display: flex;
      justify-content: space-around;
      button {
        width: 100px;
        height: 40px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.customers-title {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  th {
    padding: 10px 0px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    border-bottom: 2px solid #bbbbbb96;
    &:nth-of-type(1) {
      width: 170px;
    }
    &:nth-of-type(2) {
      width: 250px;
    }
    &:nth-of-type(3) {
      width: 400px;
    }
    &:nth-of-type(4) {
      width: 300px;
    }
  }
  td {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px 0px;
    border-bottom: 1px solid #bbbbbb96;
    &:nth-of-type(1) {
      width: 170px;
    }
    &:nth-of-type(2) {
      width: 250px;
    }
    &:nth-of-type(3) {
      width: 400px;
    }
    &:nth-of-type(4) {
      width: 280px;
    }
  }
}
.delete-img {
  width: 20px;
  height: auto;
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translatey(-10%);
  }
}
.delete-confirmation {
  text-align: center;
  width: 400px;
  height: 170px;
  background-color: azure;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translatex(-50%);
}
.delete-btns {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
