
.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
.subheader {
  display: inline-block;
  margin-right: 40px;
  font-size: 1.5em;
}
.invoice-app {
  &__subheader {
    margin-right: 40px;
    font-size: 30px;
    h2 {
      display: inline-block;
      margin-bottom: 0px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    .label {
      font-weight: 700;
      margin-top: 15px;
    }
    input {
      width: 150px;
      height: 25px;
      margin-top: 15px;
    }
    select {
      width: 250px;
      height: 35px;
      margin-top: 15px;
    }
  }
  &__customers {
    select {
      width: 200px;
      height: 30px;
    }
  }
  &__products {
    select {
      width: 200px;
      height: 30px;
    }
  }
  &__btn {
    margin-left: 25px;
    width: 70px;
    height: 40px;
  }
}
.products-list-title {
  th {
    padding: 10px 0px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    border-bottom: 2px solid #bbbbbb96;
    &:nth-of-type(1) {
      width: 450px;
    }
    &:nth-of-type(2) {
      width: 170px;
    }
    &:nth-of-type(3) {
      width: 118px;
    }
  }
  td {
    padding: 10px 0px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    border-bottom: 2px solid #bbbbbb96;
    &:nth-of-type(1) {
      width: 450px;
    }
    &:nth-of-type(2) {
      width: 170px;
    }
    &:nth-of-type(3) {
      width: 118px;
    }
  }
}
.total {
  display: flex;
  justify-content: left;
  font-size: 40px;
  font-weight: 500;
  margin-top: 30px;
  &__text {
    margin-right: 100px;
  }
  .create-invoice-btn {
    margin-left: 150px;
    width: 100px;
    height: 50px;
  }
  
}
.delete-img {
  width: 20px;
  height: auto;
  margin-left: 15px;
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translatey(-10%);
  }
}
.price-item{
    margin-left: 30px;
}
.error-message{
  position: absolute;
  top: 200px;
  right: 40%;
  &__text{
    color: #850505;
    font-weight: 500;
    font-size: 25px;
  }
}
